<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> header}}
    <br>
    <div class="">
      {{message}}
  </div>
    {{> footer}}
  </body>
</html>
